* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  border: none;
}

// WEBKIT SCROLLBAR STYLES

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #14213d;
}

body::-webkit-scrollbar-thumb {
  background: #35508a;
  border-radius: 5px;
}

// ACTIVE STYLESS

.active {
  font-weight: 600;
  position: relative;
}

.active::after {
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 3px 3px 0 0;
  bottom: -26.5px;
  left: 0;
  background: #eea229;
  position: absolute;
}

.activeMenu {
  font-weight: 600;
  color: #eea229;
  width: 100%;
}

.dropdown-menu {
  display: flex;
  gap: 1rem;
  display: none;
}

@media (max-width: 768px) {
  .dropdown-menu {
    display: flex;
  }
}
